.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.naslov {
  color: rgb(111, 47, 58);
}

.okvir {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
