.pozadina {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/young-students-learning-together-group-study.jpg');
  background-size: cover; /* ili 'contain' ako želiš da cela slika stane bez sečenja */
  background-repeat: no-repeat;
  background-position: center;
}

.okvir {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 60vh;
  width: 70vh;
  border-radius: 10px;
}

.forma {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
  font-size: 30px;
  margin-top: 5px;
}

.polja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -25px;
}

label {
  color: white;
  font-weight: 600;
  font-size: large;
}
input {
  border: 1px solid white;
  background-color: transparent;

  border-radius: 10px;
  height: 30px;
}

.dugme {
  background-color: rgb(42, 96, 197);
}
